/* Whole Page */

.page {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/* First portion */
.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}
.head {
    display: flex;
    color: white;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding-top: 15px;
}

.links {
    font-size: 18px;
    color: #e5e7EB;
    display: flex;
    gap: 40px;

}

.top  {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 80px;
}

.info {
    flex: 1;
}

.box {
    flex: 1;
    background-color: grey;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 75px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.sign {
    background-color: #3882f6;
    color: white;
    border: solid  #3882f6;
    border-radius: 10%;
    weight: 40px;
    width: 100px;
    font-size: 18px;
}


/* Second Portion */
.pics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    
}

.heading2 {
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-top: 30px;
}

.Images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Image {
    height: 150px;
    width: 150px;
    border: 6px solid #3882f6;
    border-radius: 10%;
}

.Sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sub {
    font-size: 18px;
    color: grey;
    width: 250px;
    padding-bottom: 40px;
}

/* Third Portion */

.quote {
    background-color: #e5e7EB;
    display: flex;
    flex-direction: column;
}

.Quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding-left: 300px;
    padding-top: 100px;
    padding-right: 300px;
}

.who {
    font-weight: bolder;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 1250px;
    padding-bottom: 75px;
}